<!-- Use Bootstrap for styling -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- Create a table to display all employees -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">title</th>
      <th scope="col">year</th>
      <th scope="col">score</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movies %}
      <tr>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.score }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
